#gamble {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #101010;
    color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url("../images/gamble-background.png");
}

#gamble-wrapper {
    position: absolute;
    height: 96.75%;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 25% 50% 25%;
}

#gamble-history-wrapper,
#gamble-cards-wrapper,
#gamble-info-wrapper {
    grid-column: 1 / 3;
}

#gamble-info-wrapper,
#gamble-history-wrapper {
    display: flex;
    align-items: center;
    text-align: center;
}

#gamble-info-wrapper {
    justify-content: space-evenly;
}

#gamble-info-wrapper div p {
    margin: 9% 0;
}

#gamble-info-wrapper div p:nth-child(1) {
    color: yellow;
    font-weight: bold;
    text-shadow: rgba(0, 0, 0, 0.36) -1px -1px 0, rgba(0, 0, 0, 0.36) 1px -1px 0, rgba(0, 0, 0, 0.36) -1px 1px 0, rgba(0, 0, 0, 0.36) 1px 1px 0;
}

#gamble-history-cards {
    justify-content: start;
}

#gamble-card-stack {
    height: 100%;
    width: 44.3%;
    background-repeat: no-repeat;
    background-image: url("../images/gamble/cards.png");
    background-position: center;
    background-size: contain;
}

#gamble-history-title {
    margin: 0 10.5%;
}

#gamble-history-cards img {
    height: 3.4em;
}

#canvas-blink-card {
    height: 100%;
    width: 21.9%;
    background-repeat: no-repeat;
    background-image: url("../images/gamble/0.png");
    background-position: center;
    background-size: contain;
}

#gamble-cards-wrapper {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 3% 0;
}

#gamble-buttons-wrapper {
    grid-row: 2 / 4;
    grid-column: 3;
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 8% 20% 8% 20% 16% 20% 8%;
}

#gamble-buttons-wrapper div {
    grid-column: 2;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 0.3em;
}

#gamble-black-button {
    grid-row: 2;
}

#gamble-red-button {
    grid-row: 4;
}

#gamble-collect-button {
    grid-row: 6;
}

#gamble-shadow {
    pointer-events: none;
    position: absolute;
    height: 53%;
    width: 100%;
    top: 23.5%;
    left: 0;
    margin: auto;
    -moz-box-shadow: inset 0 0 68px 6px rgba(0, 0, 0, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    -webkit-box-shadow: inset 0 0 132px -4px rgba(0, 0, 0, 1);
    -moz-box-shadow: inset 0 0 132px -4px rgba(0, 0, 0, 1);
    box-shadow: inset 0 0 132px -4px rgba(0, 0, 0, 1);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}