#welcome {
    color: white;
    font-size: 3vw;
    font-family: consolas;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#welcome>img {
    margin-top: 15px;
    width: 64px;
}

/* 

EXAMPLE: 
This is a test of not used style 
Id "hexagon" doesn't exist, therefore it is not needed 
Script build.js should remove any unused style rules 

*/

#hexagon {
    font-size: 2.5vw;
}